<div class="ion-page" #page>
  <ion-header collapse="fade" class="customization">
  <ion-toolbar>
    <ion-title>Blood Alcohol Content</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">Add Data</ion-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-text>
      <h3><b>About Blood Alcohol Content</b></h3>
    </ion-text>
    <ion-card>
      <ion-card-content>
        Blood alcohol content indicates the amount of ethyl alcohol dissolved in your blood. Your blood alcohol
        level depends on the rate and amount of alcohol you've consumed, as well as your size and weight, your overall
        health, whether you've eaten recently, and the percentage of alcohol in your drinks.
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

<ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="page">
  <ng-template>
    <ion-header collapse="fade">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Blood Alcohol Content</ion-title>
        <ion-buttons slot="end">
          <ion-button [disabled]="!canAdd" [ngClass]="{'disabled-button': !canAdd}">Add</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding-top">
      <ion-list [inset]="true">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header">
              <ion-label class="custom-label">Date</ion-label>
              <ion-datetime-button datetime="datetime" slot="end"></ion-datetime-button>
              <ion-icon slot="" class="ion-accordion-toggle-icon ios hydrated"></ion-icon>
            </ion-item>
            <div class=" custom-date ion-padding" slot="content" expand="full">
              <ion-datetime id="datetime" presentation="date" [max]="maxDate"></ion-datetime>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <ion-label class="custom-label">Time</ion-label>
              <ion-datetime-button datetime="time" slot="end"></ion-datetime-button>
              <ion-icon slot="" class="ion-accordion-toggle-icon ios hydrated"></ion-icon>
            </ion-item>
            <div class="custom-time ion-padding" slot="content">
              <ion-datetime class="datetime-time" id="time" presentation="time" hourCycle="h12"></ion-datetime>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header">
              <ion-label class="custom-label">%</ion-label>
              <ion-icon slot="" class="ion-accordion-toggle-icon ios hydrated"></ion-icon>
              <ion-input class="align-right-cursor" type="number" [(ngModel)]="percentageValue" slot="end"
                (ngModelChange)="updateAddButtonState()"></ion-input>
            </ion-item>
            <!-- <div class="ion-padding" slot="content">
            </div> -->
          </ion-accordion>
        </ion-accordion-group>

        <!-- <ion-item>
          <ion-label class="custom-label">%</ion-label>
          <ion-input class="align-right-cursor" type="number" [(ngModel)]="percentageValue" slot="end"
            (ngModelChange)="updateAddButtonState()"></ion-input>
        </ion-item> -->

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>